@using MMA_News_BG.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName.Replace('_', ' ')!</h1>
    <img class="rounded" style="height: 300px; width: 300px;"  src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1590619238/101133055_567172630654787_3893557962037700256_n_u7q8lx.jpg" />

    <div class="d-flex justify-content-between mt-5">
        <div class="col-3">
            <h5 class="font-weight-bold">UFC</h5>
            <img style="height: 150px; width: 200px;" src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1590619238/101133055_567172630654787_3893557962037700256_n_u7q8lx.jpg" />
        </div>

        <div class="col-3">
            <h5 class="font-weight-bold">Bellator</h5>
            <img style="height: 150px; width: 200px;" src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1590619238/101133055_567172630654787_3893557962037700256_n_u7q8lx.jpg" />
        </div>

        <div class="col-3">
            <h5 class="font-weight-bold">Prediction</h5>
            <img style="height: 150px; width: 200px;" src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1590619238/101133055_567172630654787_3893557962037700256_n_u7q8lx.jpg" />
        </div>

        <div class="col-3">
            <h5 class="font-weight-bold">Funny</h5>
            <img style="height: 150px; width: 200px;" src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1590619238/101133055_567172630654787_3893557962037700256_n_u7q8lx.jpg" />
        </div>
    </div>
</div>
